html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #01550c;
}

/* Left Side Menu */
#side-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  padding: 20px;
  color: white; /* text color */
}

#side-menu button {
  display: block;
  margin-bottom: 10px;
  background-color: #555; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

/* Right side */
#main-container {
  position: fixed;
  width: 83%;
  margin-left: 240px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map-container {
  /* margin: inherit; */
  height: 80vh;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}

#button-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: auto;
  display: flex;
}

#button-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  margin-right: 10px;
}

#button-container button:focus,
#button-container button:hover {
  background: #388e3c;
}
#button-container button:active {
  transform: scale(0.95);
}

.home-button {
  width: 100px;
}

a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: white;
  background-color: #555;
  text-decoration: none;
}

/*media query for screens smaller than 768px*/
@media only screen and (max-width: 768px) {
  #side-menu {
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    padding: 10px;
  }

  #main-container {
    width: 100%;
    margin-left: 0;
  }
}

/*media query for screens smaller than 576px (typical mobile devices)*/
@media only screen and (max-width: 576px) {
  #button-container {
    max-width: none;
    padding: 0;
  }

  .transparent-button {
    display: block;
    width: 100%;
  }
}
